{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="section user-review-section flex flex-center">
        {% if user.is_authenticated %}
            <div class="container flex flex-center flex-column">
                <h1 class="review-greeter">
                    Hey, {{ user.first_name }} {{ user.last_name }}!
                    <br>
                    These are your past reviews:
                </h1>
                <a href="{% url 'new_review' %}" class="new-review-btn cta">NEW REVIEW</a>
                {% for review in reviews %}
                    <div class="review-wrapper margin-l-top">
                        <p class="margin-s-top">
                            <strong>Review:</strong>
                            <br>
                            {{ review.content }}
                        </p>
                        <p class="margin-s-top">
                            <strong>Created:</strong>
                            <br>
                            {{ review.created_on }}
                        </p>
                        <p class="margin-s-top">
                            <strong>Last modified:</strong>{{ review.last_modified }}
                        </p>
                        <p class="margin-s-top">
                            <strong>Rate:</strong>{{ review.rate }}
                        </p>
                        <div class="button-wrapper margin-l-top flex flex-wrap flex-between flex-center">
                            <a class="edit-review-btn cta">EDIT REVIEW</a>
                            <a id="{{ review.id }}" href="{% url 'delete_review' | review.id %}" class="delete-review-btn cta">DELETE REVIEW</a>
                        </div>
                    </div>
                {% endfor %}
                <a class="new-review-btn cta">NEW REVIEW</a>
            </div>
        {% endif %}
    </section>
{% endblock content %}
