{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block content %}
{% if messages %}
<ul id="messages"  class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <section class="section user-review-section flex flex-center">
        {% if user.is_authenticated %}
            <div class="container flex flex-center flex-column">
                <h1 class="review-greeter">
                    Hey, {{ user.first_name }} {{ user.last_name }}!
                    <br>
                    Please update your review below:
                </h1>
                    <p class="update-review-prev margin-l-both">
                        Previous Content:<br>
                        <strong>{{ review.content }}</strong><br>
                        Previous Rate: <strong>{{ review.rate }}</strong>
                    </p>
                    <form class="review-update-form flex flex-center flex-column"
                            method="post">
                        {% csrf_token %}
                        {{ update_form.as_p }}
                        <input class="update-review-button" type="submit"
                                value="UPDATE REVIEW">
                    </form>
                    <a href="{% url 'user_reviews' %}" class="review-cancel-button flex flex-center">
                        CANCEL
                      </a>
            </div>
        {% endif %}
    </section>
{% endblock content %}
