{% extends "base.html" %}
{% load static %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block content %}
<section class="section auth-section flex flex-center flex-column">
    <div class="container-50 auth-container flex flex-center flex-column">
    <h1 class="text-center">{% trans "Change Password" %}</h1>

    <form method="POST" action="{% url 'account_change_password' %}"
            class=" flex flex-center flex-column password_change margin-l-top">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="cta" type="submit" name="action">{% trans "Change Password" %}

        </button>

        <a class="margin-s-top" href="{% url 'account_reset_password' %}">
            {% trans "Forgot Password?" %}
        </a>
    </form>
</div>
</section>
{% endblock content %}
