{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="section hero flex flex-center">
        <div class="container flex flex-center flex-column">
            <p class="hero-text">urban food presents:</p>
            <h1>Best trash food in town!</h1>
            {% if user.is_authenticated %}
                <p class="hero-text hide">please log in to book a table!</p>
            {% else %}
                <p class="hero-text">please log in to book a table!</p>
            {% endif %}
            {% if user.is_authenticated %}
                <div class="cta-wrapper flex hide">
                    <div class="cta-wrapper flex flex-between">
                        <a class="cta" href="{% url 'account_signup' %}">SIGN UP</a>
                        <a class="cta" href="{% url 'account_login' %}">LOGIN</a>
                    </div>
                {% else %}
                    <div class="cta-wrapper flex flex-between">
                        <a class="cta" href="{% url 'account_signup' %}">SIGN UP</a>
                        <a class="cta" href="{% url 'account_login' %}">LOGIN</a>
                    </div>
                {% endif %}
            </div>
        </section>
        <section class="section about flex flex-center">
            <div class="container flex flex-center flex-column">
                <h2 id="about" name="about">WHO WE ARE</h2>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr,
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore
                    magna aliquyam erat, sed diam voluptua. At vero eos et
                    accusam et justo duo dolores et ea rebum. Stet clita kasd
                    gubergren, no sea takimata sanctus est Lorem ipsum dolor
                    sit amet.
                </p>
                <img src="https://shorturl.at/dpBX9">
            </div>
        </section>
        <section class="section review flex flex-center">
            <div class="container flex flex-center flex-column">
                <h2 id="review" name="review" class="section-heading">WHAT CUSTOMERS SAY</h2>
                {% for review in reviews %}
                    <div class="review-container flex flex-center flex-column">
                        {% if 'placeholder' in user.image.url %}
                            <img class="review-image"
                                 src="https://shorturl.at/gpvGN"
                                 alt="default image">
                        {% else %}
                            <img class="review-image"
                                 src="{{ review.author.image.url }}"
                                 alt="{{ review.author.username }}">
                            <h3 class="review-heading flex flex-between">
                            {% endif %}
                            {{ review.author }}
                            <div>
                                {{ review.rate }}
                                <i class="fa-solid fa-star"></i>
                            </div>
                        </h3>
                        <p class="review-content">{{ review.content }}</p>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock content %}
