{% extends "base.html" %}
#{% load static %}
{% load i18n %}

{% block content %}
    <section class="section user-review-section flex flex-center">
        {% if user.is_authenticated %}
            <div class="container flex flex-center flex-column">
                <h1 class="review-greeter">
                    Weee, {{ user.first_name }} {{ user.last_name }}!
                    <br>
                    Let´s book a table:
                </h1>
                    
                    <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="booking-save-button" type="submit" value="SAVE BOOKING">
                    </form>
                    <a href="{% url 'user_bookings' %}" class="booking-cancel-button flex flex-center">
                        CANCEL
                    </a>
            </div>
        {% endif %}
    </section>
{% endblock content %}
