/*
The design paradigm is mobile first for this project.
The method used here is the top-down method which goes through the styles
from the parents to the children in this manner: 
[ROOT -> HTML -> BODY -> SECTION -> CONTAINER -> COLUMN -> HEADING -> TEXT -> BUTTON, IMAGE ETC.]
*/

/* GLOBAL STYLES */

/*CSSRoot is used for declaring the website colors as global variables.
Declare them once and then use the variable name as value within the CSS.*/
:root {
    --color-primary: #DA0000;
    --color-accent: #da3f3f;
    --color-dark: #000000;
    --color-dark-lighter: #252525;
    --color-light: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.25);
}

/*The following sets all elements in the DOM to have no padding, no margin and the box-sizing.
This includes the ::before and ::after pseudo-elements*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Here we set the HTML scroll behaviour to smooth scroll and the font size to 62.5% = 10px,
this allows for easier calculations regarding the font size, paddings and margins*/
html {
    scroll-behavior: smooth;
}

/*For the body we need to set the font size back to the default 16px - its the standard ssetting after all.
But we can still calculate all other values based on the 62.5% we set earlier.*/
body {
    overflow-x: hidden;
    /*disables horizontal scrolling*/
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* SECTIONS */
.section {
    width: 100vw;
    height: auto;
    padding: 50px 0px 50px 0px;
}

/* CONTAINERS */
.container {
    width: 85vw;
}

.column-50 {
    width: 50%;
}

.column-100 {
    width: 100%;
}


/* HEADERBAR STYLES [base.html] */
.headerbar {
    width: 100vw;
    height: 8vh;
    padding: 10px 0px 10px 0px;
    background-color: var(--color-dark);
    box-shadow: 0px 3px 3px var(--color-shadow);
    position: fixed;
    top: 0;
    left: 0;
}

.column-100 a {
    text-decoration: none;
}

.logo-container {
    width: 100px;
    height: 8vh;
    background-color: var(--color-primary);
    padding: 5px;
}

.logo-text-wrapper {
    color: var(--color-light);
    text-align: end;
    font-size: 2rem;
    line-height: 0.85;
}

.logo-text-wrapper p {
    font-family: 'gabarito', sans-serif;
    font-weight: 600;
}

.fa-bars {
    color: var(--color-light);
    cursor: pointer;
}

.fa-xmark {
    color: var(--color-primary);
    height: 10%;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.fa-xmark:hover {
    transform: scale(1.1);
}

.user-menu {
    background-color: var(--color-primary);
    padding: 10px;
    border-radius: 20px;
}

.user-menu li a:hover {
    color: var(--color-dark);
}

/* HEADER BAR STYLES */

.column-50-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: 1;
    background: var(--color-dark);
    transition: 1s ease-in-out;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    text-decoration: none;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--color-light);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

nav ul li a:hover {
    color: var(--color-accent);
}

.open {
    right: 0vw;
}

.closed {
    right: -50vw;
}

.menu-text {
    color: var(--color-light);
    margin-right: 15px;
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
}

/* HERO SECTION */
.hero {
    background: rgb(0, 0, 0);
    background:
        linear-gradient(90deg, rgba(0, 0, 0, 0.65) 0%,
            rgba(0, 0, 0, 0.65) 100%),
        url("https://shorturl.at/aopwK");
    background-position: center center;
    height: 80vh;
}

.container h1 {
    width: 100%;
    color: var(--color-light);
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    /*this is calculated only for the hero
    * the other paragraphs will be differently calculated.
    */
    font-size: 2rem;
}

.test {
    font-family: 'gabarito', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
}

.hero-text {
    width: 100%;
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    /*this is calculated only for the hero
    * the other paragraphs will be differently calculated.
    */
    font-size: 1.5rem;
}

.cta {
    margin-top: 2rem;
    width: 123px;
    border-radius: 25px;
    border: 2px solid var(--color-light);
    text-align: center;
    color: var(--color-light);
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: var(--color-primary);
    padding: 8px 16px 8px 16px;
    transition: 0.25s ease-in-out;
}

.cta:hover {
    background-color: var(--color-accent);
}

.cta-wrapper {
    width: 100%;
    margin: 0px 30px 0px 30px;
}

/* ABOUT SECTION */

.about {
    width: 100vw;
}

.about h2 {
    font-size: 1.375rem;
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.about p {
    font-size: 0.75rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: var(--color-dark);
}

.about img {
    width: 100%;
    margin-top: 30px;
}

/* REVIEWS SECTION */
.review {
    background-color: var(--color-primary);
}

.section-heading {
    color: var(--color-light);
    margin-bottom: 15px;
    font-family: 'gabarito', sans-serif;
}

.review-heading {
    color: var(--color-dark);
    font-size: 1.375rem;
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}

.review-container {
    width: 100%;
    background-color: var(--color-light);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.review-container:nth-last-child(1) {
    margin-bottom: 0;
}

.review-image {
    border-radius: 50%;
    border: 8px solid var(--color-primary);
    width: 25%;
}

.review-content {
    color: var(--color-dark);
    font-family: 'poppins', sans-serif;
    padding: 0px 10px 0px 10px;
    text-align: start;
    width: 100%;
    margin-top: 10px;
}

.fa-star {
    color: #ffc400;
}

.footer-text {
    color: var(--color-light);
    margin-left: 5px;
    font-family: 'poppins', sans-serif;
}

/* USER REVIEWS [MY_REVIEWS.HTML] */
.user-review-section {
    min-height: 92vh;
    padding-top: 8vh;
    width: 100vw;
    background-color: var(--color-dark-lighter);
    text-align: center;
}

.review-wrapper {
    width: 100%;
    background-color: var(--color-light);
    padding: 20px;
    border-radius: 20px;
    font-family: 'poppins', sans-serif;
}

.new-review-btn {
    width: 100%;
}

/* FOOTER STYLES */

footer {
    width: 100vw;
    height: 8vh;
    padding: 10px 0px 10px 0px;
    background-color: var(--color-dark);
}

.fa-copyright {
    color: var(--color-light);
}

.fa-facebook,
.fa-instagram,
.fa-whatsapp {
    color: var(--color-light);
    margin-left: 10px;
}

/* PROFILE STYLES */
.profile-section {
    height: 92vh;
    padding-top: 8vh;
    background-color: var(--color-dark-lighter);
    padding-bottom: 0;
}

.profile-container {
    width: 100%;
}

.sidebar {
    width: 260px;
    height: 100%;
    background-color: var(--color-dark);
}

.side-container {
    width: 90%;
    height: 90%;
}

.profile {
    width: 100%;
    height: 100%;
    background-color: var(--color-dark-lighter);
}

.top-wrapper {
    align-content: flex-start;
    height: 1005;
}

.profile-image {
    width: 50%;
    border-radius: 50%;
    border: 8px solid var(--color-primary);
}

.info-wrapper {
    margin-top: 40px;
}

.button-wrapper {
    width: 100%;
}

.profile-info {
    width: 100%;
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 16px;
}

.profile-cta {
    width: 100%;
    margin-top: 2rem;
    border-radius: 25px;
    border: 2px solid var(--color-light);
    text-align: center;
    color: var(--color-light);
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: var(--color-primary);
    padding: 8px 16px 8px 16px;
    transition: 0.25s ease-in-out;

}

.profile-greeter {
    width: 100%;
    color: var(--color-light);
    font-family: 'gabarito', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.link-wrapper {
    width: 100%;
}

.profile-link {
    width: 100%;
    color: var(--color-light);
    font-family: 'gabarito', sans-serif;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    cursor: pointer;
}

/* USER DELETE STYLES */
.danger-section {
    width: 100vw;
    height: 92vh;
    padding-top: 8vh;
    background-color: var(--color-primary);
}

.danger-container {
    background-color: var(--color-dark-lighter);
    padding: 10px;
    border-radius: 10px;
}

.danger-container h1 {
    text-align: center;
}

.danger-container p {
    text-align: center;
    margin-bottom: 30px;
    width: 100%;
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 15px;
}

.delete-button {
    width: 200px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid var(--color-light);
    background-color: var(--color-primary);
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

/* USER UPDATE STYLES */
.update-section {
    height: 92vh;
    width: 100vw;
    padding-top: 8vh;
    background-color: var(--color-dark-lighter);
    padding-bottom: 0;
}

.update-container {
    width: 85vw;
}

.update-marker {
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
}

.update-labels {
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    margin-bottom: 5px;
}

.errorlist {
    color: var(--color-accent);
    list-style: none;
    font-family: 'poppins', sans-serif;
}

input {
    margin-bottom: 20px;
}

input[type=text] {
    color: var(--color-dark);
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--color-primary);
    padding-left: 10px;
}

.helptext {
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    font-size: 12px;
}

.profile-button {
    margin-top: -5px;
    width: 100%;
    margin-bottom: 5px;
}

.change-button {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--color-light);
    background-color: var(--color-primary);
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    text-align: center;
}

.password-link {
    color: var(--color-accent);
}

/* FLEXBOX UTILS */
.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* SPACING UTILS */
.margin-l-top {
    margin-top: 30px;
}

.margin-s-top {
    margin-top: 15px;
}

/* VISIBILITY UTILS */
.hide {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1440px) {}

@media screen and (max-width: 992px) {}

@media screen and (max-width: 762px) and (orientation: portrait) {}

@media screen and (max-width: 762px) and (orientation: landscape) {}

@media screen and (max-width: 576px) {}

@media screen and (max-width: 378px) {}