/*
The design paradigm is mobile first for this project.
The method used here is the top-down method which goes through the styles
from the parents to the children in this manner: 
[ROOT -> HTML -> BODY -> SECTION -> CONTAINER -> COLUMN -> HEADING -> TEXT -> BUTTON, IMAGE ETC.]
*/

/* GLOBAL STYLES */

/*CSSRoot is used for declaring the website colors as global variables.
Declare them once and then use the variable name as value within the CSS.*/
:root {
    --color-primary: #DA0000;
    --color-accent: #da3f3f;
    --color-dark: #000000;
    --color-light: #ffffff;
    --color-shadow: rgba(0, 0, 0, 0.25);
}

/*The following sets all elements in the DOM to have no padding, no margin and the box-sizing.
This includes the ::before and ::after pseudo-elements*/
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*Here we set the HTML scroll behaviour to smooth scroll and the font size to 62.5% = 10px,
this allows for easier calculations regarding the font size, paddings and margins*/
html {
    scroll-behavior: smooth;
}

/*For the body we need to set the font size back to the default 16px - its the standard ssetting after all.
But we can still calculate all other values based on the 62.5% we set earlier.*/
body {
    overflow-x: hidden;
    /*disables horizontal scrolling*/
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* SECTIONS */
.section {
    width: 100vw;
    height: auto;
    padding: 50px 0px 50px 0px;
}

/* CONTAINERS */
.container {
    width: 85vw;
}

.column-50 {
    width: 50%;
}

.column-100 {
    width: 100%;
}


/* HEADERBAR STYLES [base.html] */
.headerbar {
    width: 100vw;
    height: 8vh;
    padding: 10px 0px 10px 0px;
    background-color: var(--color-dark);
    box-shadow: 0px 3px 3px var(--color-shadow);
    position: fixed;
    top: 0;
    left: 0;
}

.column-100 a {
    text-decoration: none;
}

.logo-container {
    width: 100px;
    height: 8vh;
    background-color: var(--color-primary);
    padding: 5px;
}

.logo-text-wrapper {
    color: var(--color-light);
    text-align: end;
    font-size: 2rem;
    line-height: 0.85;
}

.logo-text-wrapper p {
    font-family: 'gabarito', sans-serif;
    font-weight: 600;
}

.fa-bars {
    color: var(--color-light);
}

.fa-xmark {
    color: var(--color-primary);
    height: 10%;
}

/* HEADER BAR MOBILE STYLES */

.column-50-mobile {
    position: absolute;
    top: 0;
    right: 0;
    width: 50vw;
    height: 100vh;
    z-index: 1;
    background: var(--color-dark);
    transition: 1s ease-in-out;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    text-decoration: none;
    text-align: center;
    margin: 15px 0px 15px 0px;
}

nav ul li a {
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-size: 1.5rem;
    color: var(--color-light);
}

.open {
    right: 0vw;
}

.closed {
    right: -50vw;
}

/* HERO SECTION */
.hero {
    background: rgb(0,0,0);
    background:
    linear-gradient(90deg, rgba(0,0,0,0.65) 0%,
                  rgba(0,0,0,0.65) 100%),
                    url("https://shorturl.at/aopwK");
    background-position: center center;
    height: 80vh;
}

.container h1 {
    width: 100%;
    color: var(--color-light);
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
    /*this is calculated only for the hero
    * the other paragraphs will be differently calculated.
    */
    font-size: 2rem;
}

.test {
    font-family: 'gabarito', sans-serif;
    font-size: 1.8rem;
    font-weight: 600;
} 

.hero-text {
    width: 100%;
    color: var(--color-light);
    font-family: 'poppins', sans-serif;
    /*this is calculated only for the hero
    * the other paragraphs will be differently calculated.
    */
    font-size: 1.5rem;
}

.cta {
    margin-top: 2rem;
    width: 123px;
    border-radius: 25px;
    border: 2px solid var(--color-light);
    text-align: center;
    color: var(--color-light);
    text-decoration: none;
    font-family: 'poppins', sans-serif;
    font-weight: 700;
    background-color: var(--color-primary);
    padding: 8px 16px 8px 16px;
}

.cta:hover {
    background-color: var(--color-accent);
}

.cta-wrapper {
    width: 100%;
    margin: 0px 30px 0px 30px;
}

/* ABOUT SECTION */
.about {
    width: 100vw;
}

.about h2 {
    font-size: 1.375rem;
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.about p {
    font-size: 0.75rem;
    font-family: 'poppins', sans-serif;
    font-weight: 600;
    color: var(--color-dark);
}

.about img {
    width: 100%;
    margin-top: 30px;
}

/* REVIEWS SECTION */
.review {
    background-color: var(--color-primary);
}

.section-heading {
    color: var(--color-light);
    margin-bottom: 15px;
    font-family: 'gabarito', sans-serif;
}

.review-heading {
    color: var(--color-dark);
    font-size: 1.375rem;
    font-family: 'gabarito', sans-serif;
    font-weight: 700;
    width: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 10px;
}
.review-container {
    width: 100%;
    background-color: var(--color-light);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 2rem;
}

.review-container:nth-last-child(1) {
    margin-bottom: 0;
}

.review-image {
    border-radius: 50%;
    border: 8px solid var(--color-primary);
}

.review-content {
    color: var(--color-dark);
    font-family: 'poppins', sans-serif;
    padding: 0px 10px 0px 10px;
    text-align: start;
    width: 100%;
    margin-top: 10px;
}

.fa-star {
    color: #ffc400;
}

.footer-text {
    color: var(--color-light);
    margin-left: 5px;
    font-family: 'poppins', sans-serif;
}

/* FOOTER STYLES */

footer {
    width: 100vw;
    height: 8vh;
    padding: 10px 0px 10px 0px;
    background-color: var(--color-dark);    
}

.fa-copyright {
    color: var(--color-light);
}

.fa-facebook,
.fa-instagram,
.fa-whatsapp {
    color: var(--color-light);
    margin-left: 10px;
}

/* FLEXBOX UTILS */
.flex {
    display: flex;
}

.flex-between {
    justify-content: space-between;
}

.flex-around {
    justify-content: space-around;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-center-x {
    justify-content: center;
}

.flex-center-y {
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.flex-end {
    justify-content: flex-end;
}

.flex-column {
    flex-direction: column;
}

/* VISIBILITY UTILS */
.hide {
    display: none;
}

/* MEDIA QUERIES */