{% extends "base.html" %}
{% load static %}

{% block content %}

{% comment %} User messages {% endcomment %}
{% if messages %}
<ul class="messages">
{% for message in messages %}
<li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

{% comment %} User cheng section {% endcomment %}
<section class="section update flex flex-center">
<div class="container flex flex-center">
<div class="column">

</div>
<div class="column">

</div>
</div>
</section>

{% endblock content %}
